doctype html
html
   head
      title Template
      <!-- Encoding -->
      meta(charset="utf-8")
      <!-- Internet Explorer Compatiblity -->
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      <!-- Viewport Meta -->
      meta(name="viewport", content="width=device-width, initial-scale=1")
      <!-- Description Meta -->
      meta(name="description", content="page description")
      <!-- Keywords Meta -->
      meta(name="keywords", content="hassan, ali")
      <!-- Author Meta -->
      meta(name="author", content="Hassan Ali")
      <!-- Bootstrap Styles -->
      link(rel="stylesheet", href="css/bootstrap.min.css")
      <!-- Font Awesome -->
      link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.7.2/css/all.css")
      <!-- Page Custom Styles -->
      link(rel="stylesheet", href="css/home.css")
      <!-- Page Icon -->
      link(rel="shortcut icon", href="images/logo.png")

   body
      
      //- YOUR CODE GOES HERE
      h1= title

      <!-- JQuery Library v(3.4.1) -->
      script(src="js/jquery-3.4.1.min.js")
      <!-- Popper JS -->
      script(src="js/popper.min.js")
      <!-- Bootstrap JS v(4.2.1) -->
      script(src="js/bootstrap.min.js")
      <!-- Vue.js v(2.6.1) -->
      script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js")
      <!-- Page Custom Scripts -->
      script(src="js/custom.js")